module: JellyfinAPI
generate:
- entities
- paths
- enums
fileHeaderComment: |
  //
  // jellyfin-sdk-swift is subject to the terms of the Mozilla Public
  // License, v2.0. If a copy of the MPL was not distributed with this
  // file, you can obtain one at https://mozilla.org/MPL/2.0/.
  //
  // Copyright (c) 2025 Jellyfin & Jellyfin Contributors
  //
dataTypes:
  integer:
    int32: Int
    int64: Int
  string:
    uuid: String
entities:
  protocols: ["Codable", "Hashable"]
  includeIdentifiableConformance: true
  sortPropertiesAlphabetically: true
  exclude:
  - BaseItemDto.CurrentProgram # removed due to circular references for struct conformance
  - RemoteSearchResult # removed due to circular references for struct conformance
paths:
  style: operations
  filenameTemplate: "%0API.swift"
rename:
  enumCases:
    VideoRangeType.DOVI: "dovi"
    VideoRangeType.DOVIWithHDR10: "doviWithHDR10"
    VideoRangeType.DOVIWithHLG: "doviWithHLG"
    VideoRangeType.DOVIWithSDR: "doviWithSDR"
    VideoRangeType.DOVIWithEL: "doviWithEL"
    VideoRangeType.DOVIWithHDR10Plus: "doviWithHDR10Plus"
    VideoRangeType.DOVIWithELHDR10Plus: "doviWithELHDR10Plus"
    VideoRangeType.DOVIInvalid: "doviInvalid"
    VideoRangeType.HDR10Plus: "hdr10Plus"
